<section class="community-section">
    <div class="back-helper">
        <img class="back-img" src="/assets/images/matrix-back.jpg" alt="img-matrix-movie">
        <div class="main-cont">

            <h2 class="title-section">
                We are still working on this section
            </h2>
            <p class="subtitle">Choose one . . .</p>

            <div class="tablets-cont">
                <div class="tablet-cont">
                    <div [routerLink]="'about'"  class="tablet tablet-red"></div>
                </div>
                <div class="tablet-cont">
                    <div [routerLink]="'home'"  class="tablet tablet-blue"></div>
                </div>
            </div>
        </div>
    </div>

</section>
