<header class="header-cont">
    <div class="logo-cont">
        <h1 class="title-header-cont">{{titleHeader}}</h1>
    </div>
    <nav class="nav-cont">
        <ul class="list-nav-cont">
            <li [routerLink]="'home'" class="li-nav-cont">
                <p>Home</p>
            </li>
            <li [routerLink]="'about'" class="li-nav-cont">
                <p>About us</p>
            </li>
            <li [routerLink]="'community'" class="li-nav-cont">
                <p>Community</p>
            </li>
        </ul>
    </nav>
</header>

<main class="main-cont">
    <router-outlet/>
</main>

<footer class="footer-cont">
    <div class="text-footer-cont">
        <p>{{textFooter}}</p>
    </div>
</footer>
