<section class="about-section">
    <div class="back-helper">
        <div class="main-cont">
            <h2 class="title-section">
                MOVIE STORE : Video rental shop online
            </h2>
            <p class="text-section">
                At Movie Store we promote movie rentals to continue keeping video stores alive on the internet.
            </p>
            <p class="instagram-link">Follow us on Instagram!  <span>&#64;movie.store</span></p>
            <p class="contact-link">Contact us for any questions  <span>2492666999</span></p>
        </div>
    </div>

</section>
